<ion-view view-title="Rewards for Nasi Lemak 3.1">
  <ion-content>
	<div class="list card">

		<div class="item item-avatar">
			<img src="img/n.png">
			<h2>Nasi Lemak</h2>
			<p>1300 Points</p>
		</div>

		<div class="item item-image">
			<img src="img/nasilemak.jpg">
		</div>

		<a class="item item-icon-left assertive" href="#">
			<i class="icon ion-bag"></i>
			Redeem
		</a>

	</div>

	<div class="list card">

		<div class="item item-avatar">
			<img src="img/n.png">
			<h2>Nasi Goreng</h2>
			<p>1000 Points</p>
		</div>

		<div class="item item-image">
			<img src="img/nasigoreng.jpg">
		</div>

		<a class="item item-icon-left assertive" href="#">
			<i class="icon ion-bag"></i>
			Redeem
		</a>

	</div>

	<div class="list card">

		<div class="item item-avatar">
			<img src="img/n.png">
			<h2>Nasi Ayam</h2>
			<p>1200 Points</p>
		</div>

		<div class="item item-image">
			<img src="img/nasiayam.jpg">
		</div>

		<div class="item item-icon-left assertive">
			<i class="icon ion-bag"></i>
			Redeem
		</div>
	</div>
  </ion-content>
</ion-view>

<script>
angular.module('ionic.example', ['ionic'])
.controller('PopupCtrl', function($scope, $timeout, $q, $ionicPopup) {
	$scope.showConfirm = function() {
	   var confirmPopup = $ionicPopup.confirm({
	     title: 'Consume Ice Cream',
	     template: 'Are you sure you want to eat this ice cream?'
	   });
	   confirmPopup.then(function(res) {
	     if(res) {
	       console.log('You are sure');
	     } else {
	       console.log('You are not sure');
	     }
	   });
	 };
});
 </script>