<ion-view view-title="Nearby Stores">
  <ion-content>
	<div class="list card">

		<div class="item item-avatar">
			<img src="img/m.png">
			<h2>Marco's Tech</h2>
			<p>Consumer Electronics</p>
		</div>

		<div class="item item-image">
			<img src="img/marco.jpg">
		</div>

		<a class="item item-icon-left assertive" href="#">
			<i class="icon ion-android-navigate"></i>
			Navigate (1.5 miles)
		</a>

	</div>

	<div class="list card">

		<div class="item item-avatar">
			<img src="img/n.png">
			<h2>Nasi Lemak 3.1</h2>
			<p>Malaysian Restaurant</p>
		</div>

		<div class="item item-image">
			<img src="img/nasilemak.jpg">
		</div>

		<a class="item item-icon-left assertive" href="#">
			<i class="icon ion-android-navigate"></i>
			Navigate (2.3 miles)
		</a>

	</div>

	<div class="list card">

		<div class="item item-avatar">
			<img src="img/a.png">
			<h2>Aesco</h2>
			<p>Department Store</p>
		</div>

		<div class="item item-image">
			<img src="img/departmentstore.jpg">
		</div>

		<a class="item item-icon-left assertive" href="#">
			<i class="icon ion-android-navigate"></i>
			Navigate (4.7 miles)
		</a>

	</div>
  </ion-content>
</ion-view>