<ion-view view-title="Trader's Bell">
  <ion-content>
    <div class="welcome">Welcome to</div>
    <div class="merchant-name">Trader's Bell</div>
    <div class="unique-reward">Your unique reward today is</div>
    <div class="reward-name">20% off</div>
    <div class="fine-print">when purchasing over RM30</div>
    <div class="leaderboard">
    	<div class="leaderboard-title">Leaderboard</div>
		<div class="list card">
			<div class="item item-avatar">
			    <img src="img/nanfeng.png">
			    <h2><strong>1.</strong> Nan Feng</h2>
			    <p>642 Points</p>
			</div>
			<div class="item item-avatar">
			    <img src="img/jeffrey.png">
			    <h2><strong>2.</strong> Jeffrey Kwan</h2>
			    <p>503 Points</p>
			</div>
			<div class="item item-avatar">
			    <img src="img/john.png">
			    <h2><strong>3.</strong> John Doe</h2>
			    <p>441 Points</p>
			</div>
			<div class="item item-avatar">
			    <img src="img/chris.png">
			    <h2><strong>35.</strong> Chris Wong</h2>
			    <p>234 Points</p>
			</div>
		</div>
    </div>
  </ion-content>
</ion-view>