.scroll-content {
	background-image: url("../img/bg1.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.profile-picture {
	margin-top: 7em;
	width: 100%;
}

.name {
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-top: 0.25em;
}

.welcome {
	font-family: 'Damion', cursive;
	color: white;
	text-align: center;
	margin-top: 0.65em;
	font-size: 30px;
}

.merchant-name {
	font-family: 'Sigmar One', cursive;
	color: white;
	text-align: center;
	font-size: 45px;
	margin-top: 0.5em;
}

.unique-reward {
	font-family: 'Damion', cursive;
	color: white;
	text-align: center;
	margin-top: 1em;
	font-size: 30px;
}

.reward-name {
	font-family: 'Alegreya Sans SC', sans-serif;
	color: white;
	text-align: center;
	font-size: 50px;
	margin-top: 0.5em;
}

.fine-print {
	font-family: 'Lato', sans-serif;
	color: white;
	text-align: center;
	margin-top: 1em;
	font-size: 15px;
}

.leaderboard {
	font-family: Helvetica Neue;
	font-weight: 200;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 450px;
    width: 100%;
	background-image: url("../img/bg-leaderboard.png");
}

.scroll {
	min-height: 100%;
}

.leaderboard-title {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	margin-top: 1em;
}

.menu-wrapper {
	text-align: center;
}

.menu-btn {
	color: white !important;
	margin-top: 2em;
	min-width: 90px;
}

.logo-footer {
	margin-top: 2em;
	text-align: center;
}

.logo-footer img {
	width: 75%;
}

.invite-wrapper {
	text-align: center;
}

.invite-btn {
	color: white !important;
	min-height: 40px !important;
	line-height: 0 !important;
}